/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
h1 {
    color: #343a40;
    text-align: center;
}

/* Movie List */
ul {
    list-style-type: none;
    padding: 1rem;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
}

li {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding-left: 2rem;
}

li img {
max-width: 400px;
}

/* Movie Details */
.movie-details {
    padding: 20px;
}

.movie-details h2 {
    color: #343a40;
}

.movie-details p {
    color: #6c757d;
}

/* Button */
.btn-primary {
    background-color: #122030;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 1rem;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Language Selector */
.language-selector {
    text-align: center;
}

.language-selector a {
    text-decoration: none;
    color: #007bff;
    margin: 0 10px;
}

.language-selector a:hover {
    text-decoration: underline;
}
