<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Films au cinéma</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Liste des films au cinéma page</h1>
        <div>
            <a href="/?lang=fr-FR">Français</a> | <a href="/?lang=en-US">English</a> 
        </div>
        <ul>
        {% for movie in movies %}
            <li class="box-shadow">
                <img src="{{ movie['poster_path'] }}" alt="{{ movie['title'] }} Poster">
                <div>
                    <h2>{{ movie['title'] }}</h2>
                    <p>Date de sortie : {{ movie['release_date'] }}</p>
                    <form action="/movie/{{ movie['id'] }}" method="get">
                        <input type="hidden" name="lang" value="{{ lang }}">
                        <button class="btn-primary" type="submit">Détails</button>
                    </form>
                    
                         
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>
