<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du film</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Détails du film</h1>
        <h2>{{ movie['title'] }}</h2>
        <p>Date de sortie : {{ movie['release_date'] }}</p>
        <p>Résumé : {{ movie['overview'] }}</p>
        <p>Langue originale : {{ movie['original_language'] }}</p>
        <p>Note moyenne : {{ movie['vote_average'] }}</p>
    </div>
</body>
</html>
